
<div class="row">
  <h2>Hello, <%= current_user.name %>!</h2>
  <img class="img-circle" src=<%=current_user.picture %> >
</div>



  <table class="table text-center">
     <% @campground.each_slice(3) do |campgrounds| %>
       <tbody>
           <% campgrounds.each do |campground| %>
             <td><%= image_tag("#{campground.picture}") %><br><%= link_to "#{campground.name}", campground_path(campground) %></td>
           <% end %>
       </tbody>
     <% end %>
  </table>




<button class="btn"><%= link_to 'Edit Your Profile', edit_user_registration_path %></button>
