
<div class="row">
  <form class="search-submit img-overlay text-center"  action="/" method="get">
    <div class="search ">
      <div class="input-group input-group-lg lead" >
       <!--  <input type="text" id="search-input" class="searchTerm form-control " placeholder="Where do you want to go camping?">
        <span class="input-group-btn "> -->
        <%= form_tag(@campgrounds_path, method: :get, class:"search-input", placeholder: "Where do you want to go camping?") do %>
          <%= text_field_tag :term, params[:term] %>
          <%= submit_tag 'Search', name: nil %>
        <% end %>
          <!-- <button type="submit" class="btn btn-lg  "> -->
            <!-- <i class="fa fa-search"></i> -->
          <!-- </button> -->
        </span>
      </div>
    </div>
  </form>
</div>



<div>
  <div class="row">
    <div class="col-md-8">

    <div id="map"></div>
      <script>
        console.log("HI!");
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {zoom: 5, center: new google.maps.LatLng(<%=@campgrounds.first.latitude%>, <%=@campgrounds.first.longitude%>), mapTypeId: google.maps.MapTypeId.ROADMAP}, internal: {id: 'map'}}, function(){
          markers = handler.addMarkers(<%=raw @hash.to_json %>);
          handler.bounds.extendWith(markers);

        });
      </script>

    </div>
    <div id="add-campgrounds" class="col-md-4">
      <div id='campground-list' type="x-tmpl-mustache">
        <%@campgrounds.each do |campground|%>
        <li class="each-campground-list"><%=link_to "#{campground.name}", campground_path(campground)%> </li>
        <%end%>
      </div>
    </div>
  </div>
</div>



