
<div class="showcase row">
  <div class="header"><h1 class="text-center"><%= link_to "#{@campground.name}", "#{@campground.detail.reservation_url}"%>
    <%if current_user %>
    <%if found_favorite(current_user, @campground)%>
    <%= link_to '<i class="fa fa-lg fa-heart"></i> Unfavorite'.html_safe, favorite_campground_path(@campground), method: :post, class:"btn btn-info btn-sm"%>
    <%else%>
    <%= link_to '<i class="fa fa-lg fa-heart-o"></i> Favorite'.html_safe, favorite_campground_path(@campground), method: :post, class:"btn btn-info btn-sm"%>
    <% end %></h1>
    <%end%>
  </div>

<% if !@campground.google_picture.empty?%>
  <div class="container">
    <div class="col-md-12">
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <div class="col-lg-12">
              <img class="img-responsive" src=<%="#{@campground.google_picture.first}"%> alt="First slide">
            </div>
          </div>
          <% @campground.google_picture.drop(1).each do |url|%>
          <div class="item">
            <div class="col-lg-12">
              <img class="img-responsive" src="<%= url %>" alt="Other slide">
            </div>
          </div>
          <%end%>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
    </div>
  </div>
  <%end%>
<br>
</div>
  <!-- OTHER -->


  <!-- CONTAINER FOR MAP AND DETAIL -->
  <div class="map-detail-row row">

    <!-- BEGIN DETAIL CONTAINER -->
    <div class="showcase details container col-lg-8"><h3>Details:</h3>
      <div class="row">
        <article class="description col-md-12">
          <p><%=@campground.detail.description%></p>
        </article>
      </div>
      <div class="row">
        <article class="description col-md-12">
          <p><%=@campground.detail.orientation_description%></p>
        </article>
      </div>
      <div class="row">
        <article class="description col-md-12">
          <p><%=@campground.detail.recreation_description%></p>
        </article>
      </div>
      <div class="row">
        <article class="description col-md-12">
          <p><%=@campground.detail.facilities_description%></p>
        </article>
      </div>
      <div class="row">
        <article class="description col-md-12">
          <h3>Important Info:</h3>
          <ul>
            <%@campground.detail.important_info.split("\n").reverse.drop(1).reverse.each do |info|%>
            <li><i class="fa fa-fw fa-star important-star" aria-hidden="true"></i><%=info%></li>
            <%end%>
          </ul>
        </article>
      </div>
   <!-- REVIEWS STUFF-->
      <div class="row">
        <div class="col-md-12"  id="reviews-container">
          <div class="row">
          <% @campground.reviews.each_with_index do |review, index| %>
            <% if index < 3 %>
              <div class="col-md-4">
                <p><i class="fa fa-quote-left" aria-hidden="true"></i><%= truncate(review, length: 120) %>"</p>
                <span style="display:none"><i class="fa fa-quote-left" aria-hidden="true"></i><%= review %></span>
              </div>
            <% else %>
              <div class="col-md-4 hidden">
                <span><i class="fa fa-quote-left" aria-hidden="true"></i><%= review %><i class="fa fa-quote-right" aria-hidden="true"></i></span>
              </div>
            <% end %>
          <%end%>
        </div>
        <button class='btn' id="show-reviews">See All reviews</button>
      </div>
    </div>

  </div>

    <!-- BEGIN MAP CONTAINER -->
    <div class="showcase location container col-lg-4"><h3>Location:</h3>
     <div class="row">
      <div class="col-md-12">
       <div id="map" style='width: 100%; height: 400px;'></div>
       <br>
     </div>
   </div>

   <div class="text-center">
     <%= render "campgrounds/rating" %>
   </div>
   <br>
   <!--AMENTITIES ROW/CONTAINER -->
  <%= render "campgrounds/amenities" %>

 </div>
 <!-- CLOSE MAP-DETAIL CONTAINER -->
</div>



<script>
 var campground = <%= @show.html_safe %>;
 initMap(campground);
</script>



