
<div class="row">
  <div class="header"><h1 class="text-center"><%= link_to "#{@campground.name}", "#{@campground.detail.reservation_url}"%>
    <%if current_user %>
    <%if found_favorite(current_user, @campground)%>
    <%= button_to 'Unfavorite', favorite_campground_path(@campground), method: :post, class:"btn btn-info btn-sm" %>
    <%else%>
    <%= button_to 'Favorite', favorite_campground_path(@campground), method: :post, class:"btn btn-info btn-sm" %>
    <% end %></h1>
    <%end%>
  </div>
</div>

<div class="row">
  <div class="pictures container"><h1 class="text-center">Pictures go here</h1>
  </div>
</div>

<div class="map-detail-row row">

  <div class="detail container col-lg-8"><h3>Detail Container</h3>
    <div class="row">
    <article class="description col-md-8">
        <p><%=@campground.detail.description%></p>
      </article>
      <ul class="fun info-block col-md-4">
        <%@campground.find_amenity_fun.each do |amenity|%>
        <li><%=amenity%></li>
        <%end%>
        <%@campground.find_amenity_water.each do |amenity|%>
        <li><%=amenity%></li>
        <%end%>
         <%@campground.find_amenity_fire.each do |amenity|%>
        <li><%=amenity%></li>
        <%end%>
        <%@campground.find_amenity_accessible.each do |amenity|%>
        <li><%=amenity%></li>
        <%end%>
      </ul>
    </div>
    <div class="row">
    <article class="description col-md-8">
        <p><%=@campground.detail.orientation_description%></p>
      </article>
      <ul class="water info-block col-md-4">

      </ul>
    </div>
    <div class="row">
    <article class="description col-md-8">
        <p><%=@campground.detail.recreation_description%></p>
      </article>
      <ul class="fire info-block col-md-4">

      </ul>
    </div>
    <div class="row">
    <article class="description col-md-8">
        <p><%=@campground.detail.facilities_description%></p>
      </article>
      <ul class="accessibility info-block col-md-4">

      </ul>
    </div>
    <div class="row">
      <article class="description col-md-12">
        <h3>Important Info:</h3>
        <ul>
          <%@campground.detail.important_info.split("\n").each do |info|%>
          <li><%=info%></li>
          <%end%>
        </ul>
      </article>
    </div>
  </div>
  <div class="map container col-lg-4"><h3>Location:</h3>
   <div class="row">
    <!-- Add a new row for each attribute. col-md-12 will default to filling out the parent container -->
    <div class="col-md-12">
     <div id="map" style='width: 98%; height: 400px;'></div>
     <br>
   </div>

 </div>
</div>

</div>


<script>
 var campground = <%= @show.html_safe %>;
 initMap(campground);
</script>



