
<div class="row">
  <div class="header"><h1 class="text-center"><%= link_to "#{@campground.name}", "#{@campground.detail.reservation_url}"%>
    <%if current_user %>
    <%if found_favorite(current_user, @campground)%>
    <%= button_to 'Unfavorite', favorite_campground_path(@campground), method: :post, class:"btn btn-info btn-sm" %>
    <%else%>
    <%= button_to 'Favorite', favorite_campground_path(@campground), method: :post, class:"btn btn-info btn-sm" %>
    <% end %></h1>
    <%end%>
  </div>
</div>

<div class="row">
  <div class="pictures container"><h1 class="text-center">
    <img src=<%= "#{@place_stuff}" %>>
  </h1>
</div>
</div>

<!-- CONTAINER FOR MAP AND DETAIL -->
<div class="map-detail-row row">

  <!-- BEGIN DETAIL CONTAINER -->
  <div class="detail container col-lg-8"><h3>Detail Container</h3>
    <div class="row">
      <article class="description col-md-12">
        <p><%=@campground.detail.description%></p>
      </article>
    </div>
    <div class="row">
      <article class="description col-md-12">
        <p><%=@campground.detail.orientation_description%></p>
      </article>
    </div>
    <div class="row">
      <article class="description col-md-12">
        <p><%=@campground.detail.recreation_description%></p>
      </article>
    </div>
    <div class="row">
      <article class="description col-md-12">
        <p><%=@campground.detail.facilities_description%></p>
      </article>
    </div>
    <div class="row">
      <article class="description col-md-12">
        <h3>Important Info:</h3>
        <ul>
          <%@campground.detail.important_info.split("\n").each do |info|%>
          <li><%=info%></li>
          <%end%>
        </ul>
      </article>
    </div>
  </div>
  <!-- BEGIN MAP CONTAINER -->
  <div class="map container col-lg-4"><h3>Location:</h3>
   <div class="row">
    <div class="col-md-12">
     <div id="map" style='width: 100%; height: 400px;'></div>
     <br>
   </div>
 </div>

 <!--AMENTITIES ROW/CONTAINER -->
 <%= render "campgrounds/amenities" %>

 <div class="row">
   <h2>put reviews here</h2>
 </div>
</div>
<!-- CLOSE MAP-DETAIL CONTAINER -->
</div>


<script>
 var campground = <%= @show.html_safe %>;
 initMap(campground);
</script>



