<!DOCTYPE html>
<html>
  <head>
    <title>HappyCamper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "campgrounds/navbar" %>
  <ul class="nav">

  </ul>

    <%= yield %>
  </body>
</html>
